PORT=3000
MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/admisiones?retryWrites=true&w=majority

# Microsoft Graph API (OneDrive)
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=
ONEDRIVE_FOLDER=Admisiones 2025-2026

# Gmail API (OAuth2)
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=
GMAIL_USER=admissions@lf.edu.co

# Google Calendar API (OAuth2)
GCAL_CLIENT_ID=
GCAL_CLIENT_SECRET=
GCAL_REFRESH_TOKEN=
GCAL_CALENDAR_ID=

# Frontend URL (para CORS)
FRONTEND_URL=https://jaminton-h07.github.io
